@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex text-center justify-content-around">
    <div>
        @await Html.PartialAsync("_Registration")
    </div>
    <div>
        @await Html.PartialAsync("_Login")
    </div>
</div>
