<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>

</head>
<body>
        <a href="/">Go Back</a>
    <div  class="form-container">
        <h2>Submitted Info</h2>
        <li>Name: <span style="color:coral">@ViewBag.Name</span> </li>
        <li>Dojo Location: <span style="color:coral">@ViewBag.DojoLocation</span> </li>
        <li>Fav Language: <span style="color:coral">@ViewBag.FavoriteLanguage</span> </li>
        <li>Comment(optional): <span style="color:coral">@ViewBag.Comment</span></li>
    </div>
</body>
</html>