@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thanks for checking out My Poject</p>
    <h4 class="text-primary">Click image  to see more.</h4>
    <a href="https://www.linkedin.com/in/kevin-merazbueso-ab8577243/"
    target="_blank"
    >
        <img src="https://cdn.cdnlogo.com/logos/l/74/linkedin.svg" alt="..." class="img-thumbnail">
    </a>
    <h4 class="text-primary">Click image to see more.</h4>
    <a href="https://github.com/merazkevin"
    target="_blank"
    >
        <img src="https://pngimg.com/uploads/github/github_PNG65.png" alt="..." class="img-thumbnail">
    </a>
    
</div>