@model DojoFormClass
<body>
    <div class="border border-dark">
        <center class="form-container" >
            <h2>Dojo Survey</h2>
            <form action="ProcessDojoForm" method="post">
                @* <=== Name input===> *@
                <label asp-for="name"></label>
                <input asp-for="name">
                @* <=== Validation ==> *@
                <div class="text-danger"><span asp-validation-for="name"></span></div>
                <br><br>

                @* <=== DojoLocation DropDown===> *@
                <label asp-for="dojoLocation"></label>
                <select asp-for="dojoLocation" >
                    <option value="selec a location" disabled selected hidden>selec a location</option>
                    <option value="San Jose">San Jose</option>
                    <option value="San Francisco">San Francisco</option>
                    <option value="San Benito">San Benito</option>
                </select>
                @* <=== Validation ==> *@
                <div class="text-danger"><span asp-validation-for="dojoLocation"></span></div>
                <br><br>

                @* <=== FavoriteLanguage input ===> *@
                <label asp-for="favoriteLanguage"></label>
                <select asp-for="favoriteLanguage" >
                    <option value="selec a one" disabled selected hidden>selec a option</option>
                    <option value="C#">C#</option>
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                </select>
                @* <=== Validation ==> *@
                <div class="text-danger"><span asp-validation-for="favoriteLanguage"></span></div>
                <br><br>

                @* <=== date Input ===> *@
                <label asp-for="date"></label><br>
                <input type="date" asp-for="date"></input><br><br>
                @* <=== Validation ==> *@
                <div class="text-danger"><span asp-validation-for="date"></span></div>
                <br><br>

                @* <=== oddNumber Input ===> *@
                @* <label asp-for="oddNumber"></label><br>
                <input asp-for="oddNumber"></input><br><br> *@
                @* <=== Validation ==> *@
                @* <div class="text-danger"><span asp-validation-for="oddNumber"></span></div> *@
                @* <br><br> *@

                @* <=== Comment Input ===> *@
                <label asp-for="comment"></label><br>
                <textarea asap-for="comment" cols="30" rows="10" placeholder="(optional)"></textarea><br><br>
                <button>Submit</button>
                @* <=== Validation ==> *@
                <div class="text-danger"><span asp-validation-for="comment"></span></div>
                <br><br>
            </form>
        </center>
    </div>

    
</body>
</html>