@* This is the SessionWorkshop Form *@

<div class="container">
    <center class="border border-dark">
        <form action="ProcessSessionDashBoard" method="post">
            <h1 >Welcome!</h1>
            <h4>Please give your name</h4>
            <input type="text" name="name"><br><br>
            <button class="btn btn-primary">Submit</button><br><br>
        </form>
    </center>
</div>