<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<nav class="navBar">
    <a href="">Home |</a>
    <a href="/project">Projects |</a>
    <a href="contact">contact |</a>
</nav>
<body>
    <div class="container">
        <center class="container">
            <h1>About Me</h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJbpud1DnZ1rYwan4V8L9hos2LXz3dyPGNKg&usqp=CAU" alt="">
            <p>@ViewBag.kevin</p>
            <p class="col-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rerum qui voluptate ex, dolores quia? Molestiae maiores totam nam nisi deleniti alias doloribus consequuntur, magni cupiditate, aut rem voluptatem pariatur?
            </p>
            <br>
            <br>
            <br>
            <br>
        </center>
    </div>
</body>
</html>