<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<nav class="navBar">
    <a href="/">Home |</a>
    <a href="/project">Projects |</a>
    <a href="contact">contact |</a>
</nav>
<body>
    <div class="container">
        <center class="container">
            <h1>Projects</h1>
            <div class="project-container">
                <span>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqD-5Y3ldAih8mPpnmu1yUT405rq8tlR79nA&usqp=CAU" alt="" class="project-img">
                </span>
                <div>
                    <h3>Project 1</h3>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla tempora sint maiores aspernatur fuga molestias.</p>
                </div>
            </div>
            <div class="project-container">
                <span>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLJy-f-mYA8zHegVbHHd_erIcLsk89ADgFpA&usqp=CAU" alt="" class="project-img">
                </span>
                <div class="dropshadow">
                    <h3>Project 1</h3>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla tempora sint maiores aspernatur fuga molestias.</p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </center>
    </div>
</body>
</html>