@model StringClass
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@Model.message </h1>
    <p class="col">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, omnis!</p>
</div>
