<div>
    <span><a asp-controller="Product" asp-action="Product" class="text-primary">| Products</a></span>
    <span><a asp-controller="Category" asp-action="Category" class="text-primary">| Categories</a></span>
</div>