<div>
    <span><a asp-action="Index" asp-controller="User">| Home </a></span>
</div>
<div>
    <span><a asp-action="NewWedding" asp-controller="Wedding">| Plan Wedding </a></span>
</div>
<div>
    <a asp-action="Logout" asp-controller="User">| Logout </a>
</div>