<ul class="d-flex">        
    <li class="m-4"><a href="/">Home</a></li>        
    <li class="m-4"><a href="/about">About Me</a></li>    
    <li class="m-4"><a href="/Github">My Github</a></li>    
    <li class="m-4"><a href="/LinkedIn">My LinkedIn</a></li>    
</ul>
<hr>