<div>
    <form action="" class="s-4">
    <h3>Register</h3><hr><br>
    <div class="mb-3">
        @* name *@
        <label for="">Name</label>
        <input type="text" placeholder="Name"><br>
    </div>

    <div class="mb-3" class="m-4">
    @* LastName *@
    <label for="" class="form-label">LastName</label>
    <input type="text" placeholder="LastName"><br>
    </div>
    <div class="mb-3">
        @* Email *@
        <label for="" class="form-label">Email</label>
        <input type="text" placeholder="Email"><br>
    </div>
    <div class="mb-3">
        @* Password *@
        <label for="" class="form-label">Password</label>
        <input type="text" placeholder="Password"><br>
    </div>
    <div class="mb-3">
        @* Confirm Password *@
        <label for=""class="form-label">Confirm Password</label>
        <input type="text" placeholder="Confirm Password"><br>
    </div>
    <input type="submit" value="Register" class="">
    </form>
</div>